{% extends "layout/base.html" %}

{% block content %}
<div id="main">
{% if current_user %}

{% if users_foldmen %}
<nav class="holder" id="sent_to_user">
	<h2>Fortsätt rita på en gubbe som en vän börjat på:</h2>
	<ul class="choose_sent_list">
	{% for foldman in users_foldmen %}
	<li id="f_{{ foldman.key }}">
		<a href="/canvas/{{ foldman.key }}" class="part part_{{ foldman.parts_finished }}" ></a>
		<div>
			<p class="sent_by">
				Skickad till dig av:<br />
				<a href="{{ foldman.previous_part.user.get_url }}"><img src="http://graph.facebook.com/{{ foldman.previous_part.user.id }}/picture?type=square" width="30" height="30" /> 
				{{ foldman.previous_part.user.name }}</a>
			</p>
			{% ifequal foldman.parts_finished 1 %}
			<a href="/canvas/{{ foldman.key }}" class="button">Fortsätt rita kroppen</a>
			{% else %}
				{% ifequal foldman.parts_finished 2 %}
			<a href="/canvas/{{ foldman.key }}" class="button">Fortsätt rita benen</a>
				{% endifequal %}
			{% endifequal %}
			<form action="/foldman/decline/{{ foldman.key }}" method="post" class="decline_form">
				<fieldset>
					<input type="submit" class="button cancel" value="Avböj" />
				</fieldset>
			</form>
		</div>
	</li>
	{% endfor %}
	</ul>
</nav>
{% endif %}

<div id="start_new" class="holder">
	<p><a href="/canvas/new" class="button">Starta en ny vikgubbe</a></p>
	<p>
		Börjar rita huvudet på en ny vikgubbe
	</p>
	
</div>

{% if availble_foldmen %}
<nav id="choose_availble" class="holder">
	<h2>Forsätt på en påbörjad gubbe</h2>
	<p>Välj en av vikgubbarna nedan för att fortsätta på en påbörjad.</p>
	<ul class="choose_list">
	{% for foldman in availble_foldmen %}
	<li id="f_{{ foldman.key }}">
		<a href="/canvas/{{ foldman.key }}" class="part_{{ foldman.parts_finished }}" ></a>
		
		{% ifequal foldman.parts_finished 1 %}
		<a href="/canvas/{{ foldman.key }}" class="button">Rita kroppen</a>
		{% else %}
			{% ifequal foldman.parts_finished 2 %}
		<a href="/canvas/{{ foldman.key }}" class="button">Rita benen</a>
			{% endifequal %}
		{% endifequal %}
		
	</li>
	{% endfor %}
	</ul>
</nav>
{% endif %}

{% else %}
<div class="holder">
	<p>Klicka på knappen för logga in med ditt Facebook-konto och komma igång</p>
	<a href="#" class="login button">Logga in</a>
</div>
{% endif %}

</div>

<aside id="aside">
	{% comment %}
	<div id="friendpile">
		<fb:friendpile max-rows="2" width="390"></fb:friendpile>
	</div>
	{% endcomment %}
	<div id="fb_activity">
		<fb:activity site="{{ URL }}" width="390" height="200" font="arial" border_color="#aaaaaa" recommendations="true"></fb:activity>
	</div>
	<div id="fb_like_box">
		<fb:like-box profile_id="174693535652" width="390" connections="25" stream="false" header="false"></fb:like-box>
	</div>
</aside>
	
{% endblock %}


{% block sub_content %}
<section class="content">
{% include "includes/foldmen_list.html" %}
</section>
{% endblock %}

