{% extends "layout/base.html" %}

{% block title %}{{ user.name }}{% endblock %}

{% block opengraph %}
<meta property="og:title" content="{{ user.name }}s vikgubbar" /> 
<meta property="og:image" content="" /> 
<meta property="og:description" content="Vikgubbar som {{ user.name }} varit med och ritat" /> 
<meta property="og:site_name" content="Vikgubbe" />
{% endblock %}

{% block content %}

<h1 class="user_name">
	<a href="{{ current_user.profile_url }}">
		<img src="http://graph.facebook.com/{{ user.id }}/picture?type=square" width="30" height="30" class="user_image" /> 
		{{ user.name }}
	</a>
</h1>
<h2>Vikgubbar som {{ user.name }} varit med på</h2>
<p>Totalt antal vikgubbar: {{ user.foldman_count }}</p>
<ul class="foldmen_list">
	{% for foldman in foldmen %}
	<li>
		<a href="{{ foldman.get_url }}"><img src="{{ foldman.get_thumb_url }}" alt="Vikgubbe"  width="100" height="146" /></a>
		{% if foldman.unviewed %}Ny!{% endif %}
	</li>
	{% endfor %}
</ul>

<fb:like href="{{ user.get_url }}" width="500" font="arial"></fb:like>

{% endblock %}